<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587148359203-1jbuv73ikqcms6a7bknjfaoukl8von7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587148359203-1jbuv73ikqcms6a7bknjfaoukl8von7i</string>
	<key>API_KEY</key>
	<string>AIzaSyDJGsAJbeqhNv2l2XOn-VODNBZpE6S89ZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>587148359203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scroogeApp</string>
	<key>PROJECT_ID</key>
	<string>scroogeapp-7bae8</string>
	<key>STORAGE_BUCKET</key>
	<string>scroogeapp-7bae8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587148359203:ios:e4549e727ca78cc10e2396</string>
	<key>DATABASE_URL</key>
	<string>https://scroogeapp-7bae8.firebaseio.com</string>
</dict>
</plist>